In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [64]:
federer = pd.read_csv(r"code/data/federer.csv")

In [65]:
federer.head()

,year,tournament,start date,type,surface,draw,atp points,atp ranking,tournament prize money,round,...,player2 2nd serve return points total,player2 break points converted won,player2 break points converted total,player2 return games played,player2 total service points won,player2 total service points total,player2 total return points won,player2 total return points total,player2 total points won,player2 total points total
0,1998,"Basel, Switzerland",05.10.1998,WS,Indoor: Hard,Draw: 32,1,396.0,"$9,800",R32,...,22.0,4.0,8.0,8.0,36.0,50.0,26.0,53.0,62.0,103.0
1,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R32,...,19.0,0.0,1.0,8.0,33.0,65.0,8.0,41.0,41.0,106.0
2,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R16,...,30.0,0.0,4.0,10.0,46.0,75.0,23.0,73.0,69.0,148.0
3,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",Q,...,28.0,3.0,10.0,10.0,44.0,63.0,26.0,67.0,70.0,130.0
4,1998,"Geneva, Switzerland",24.08.1998,CH,Outdoor: Clay,Draw: 32,1,680.0,$520,R32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
federer.shape

(1179, 70)

In [67]:
matches=federer.shape[0]
matches_won=federer[federer['winner']=='Roger Federer'].shape[0]
win_percentage=(matches_won/matches)*100
print("Percentage of matches won by Roger Federer: ",win_percentage)
matches_won

Percentage of matches won by Roger Federer:  82.44274809160305

972

In [69]:
avg_wps=federer[federer['winner']=='Roger Federer'].groupby('surface').size()
avg_wps

surface
Indoor: Carpet     56
Indoor: Clay        5
Indoor: Hard      189
Outdoor: Clay     194
Outdoor: Grass    122
Outdoor: Hard     406
dtype: int64

In [70]:
federer['start date']=pd.to_datetime(federer['start date'],errors='coerce')
federer['year']=federer['start date'].dt.year
Avg_df_each_year=federer.groupby('year')['Double_faults'].mean()
Avg_df_each_year

year
1998.0    0.020738
1999.0    0.028285
2000.0    0.020918
2001.0    0.016780
2002.0    0.016084
2003.0    0.018211
2004.0    0.012856
2005.0    0.008778
2006.0    0.008495
2007.0    0.009116
2008.0    0.005306
2009.0    0.008313
2010.0    0.009711
2011.0    0.008275
2012.0    0.011024
Name: Double_faults, dtype: float64